*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.div{
    display: flex;
    /* background-color:rgba(10, 50, 40, 0.7); */
    height: 40px;
    gap: 1100px;
    color: whitesmoke;
position: fixed;

}
.div1{
    margin-top: 5px;
    margin-left: 40px;
}
.div2 ol{
display: flex;
list-style: none;
gap: 10px;
margin-top: 10px;
}
.section1 {
    background-image:url('./keyboard-tea-cup-apple-office-stationeries-black-background.jpg');
   padding:400px;
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    color: whitesmoke;
background-size: cover;
background-repeat: no-repeat;
}
.section1 h1{
    font-size: 50px;
}
.section1 button{
    border-radius: 45%;
    padding: 15px;
    font-size: 15px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
}
.section2{
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 50px;
}
/* .container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
align-items: center;
position: fixed;
top: 0%;
left: 0%;
background-color: black;
opacity:0;
transition: opacity 0.3s ease;
}
.box{
    background-color: white;
    box-shadow: 0px 2px 5px red;
    padding: 12px;
    text-align: center;
}
.container.so{
    pointer-events:auto;
    opacity:1;
}
.container.so.box{
    opacity:1;
    pointer-events:auto;
} */
.container{
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content:center ;
align-items: center;
position: fixed;
top:0;
left:0;
background-color: rgb(0,0,0,0.3);
opacity:0;
pointer-events: none;
transition:opacity 0.3s ease;
}
.box{
    background-color: white;
    box-shadow: 0px 2px 5px red;
    border:2px solid red;
    padding: 12px;
    text-align: center;
    /* max-width:400px; */
    color: black;
    width: 100%;
    height: 100%;
}
.container.so{
    pointer-events:auto;
    opacity:1;
}
.container.so.box{
    opacity:1;
    pointer-events:auto;
}

.section2 button{
    border-radius: 45%;
    padding: 5px;
    font-size: 10px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
}

.section3{
    display: flex;
    width: 100%;
}
.div3{
    text-align: center;
    padding: 30px;
    height: 200px;
    width: 500px;
    background-color: wheat;
}
.div4{
    text-align: center;
    padding: 30px;
        height: 200px;
    width: 500px;
    background-color: rgba(40, 50, 50, 0.7);
}
.div5{
    text-align: center;
    padding: 30px;
        height: 200px;
    width: 500px;
    background-color: wheat;
}
.section4{
    margin: 50px;
}
.div6{
margin-left: 600px;
}
.div6 h1{
    
}
.div6 p{
    text-align: center;
    margin-left: -640px;
}

.div7{
    display: flex;
    margin: 50px;
}
.div8{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div9{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;

}
.div10{
    display: flex;
        margin: 50px;

}
.div11{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div12{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;
}
.div13{
    display: flex;
        margin: 50px;

}
.div14{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div15{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;

}
.div16{
    display: flex;
    margin: 50px;
}
.div17{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div18{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;

}
.div19{
    display: flex;
        margin: 50px;

}
.div20{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div21{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;
}
.div22{
    display: flex;
        margin: 50px;

}
.div23{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div24{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;
}
.div25{
    display: flex;
    margin: 50px;
}
.div26{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div27{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;

}
.div28{
    display: flex;
    margin: 50px;
}
.div29{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div30{
    background-color: wheat;
        background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
            font-size: large;
padding: 10px;
width: 150px;
height: 50px;

}
.div31{
    display: flex;
    margin: 50px;
}
.div32{
border: 4px solid black;
border-radius: 50%;
padding: 10px;
width: 50px;
height: 50px;
}
.div33{
    background-color: wheat;
    background-image: linear-gradient(to right, wheat,rgba(40,50,50,0.7));
padding: 10px;
margin-right: 20px;
width: 150px;
height: 50px;
    font-size: large;
}
.mainbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.section5{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-color: wheat;
padding: 100px;
}
.list1 h1{
    padding-left: 100px;
}
.list2 h1{
    padding-left: 100px;
}
.list3 h1{
    padding-left: 100px;
}
.list4 h1{
    padding-left: 100px;
}
.lg1{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
margin-left: 50px;
}
.lg2{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 50px;
}
.lg3{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 30px;
}
.lg4{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 30px;
}
/* .div33{
    margin-left: 700px;

}
.div33 p{
        text-align: center;
    margin-left: -640px;

} */
 .section6{
    width: 100%;
    height: 800px;
    padding: 50px;
 }
 .div37{
    margin-left:600px;
 } 
 .div37 p{
    margin-left: -643px;
    text-align: center;
 }
 .div37 h5{
margin-left: 400px;
 }
 .photobar{
    margin-left: 200px;
 }
 .photobar1{
    display: flex;
 } 
 .photobar2{
    display: flex;
 }
 .section7{
    width: 100%;
    height: 100px;
    background-color: wheat;
 }
 .footer{
    display: flex;
    justify-content: space-around;
 }
 .footer1{
background-color: wheat;
width: 900px;
height:450px ;
padding-left: 40px;
padding-top: 30px;
box-shadow: 7px 2px 8px 2px gray;
 }

 .footer2{
width: 400px;
height: 450px;
background-color: whitesmoke;
padding-left: 40px;
padding-top: 30px;
box-shadow: 7px 2px 5px 2px black;
 }
 
.footer2 button{
    width:250px;
    height: 30px;
    margin-left: 30px;
    box-shadow: 7px 2px 8px 2px white;
    background-color: wheat;
    border-radius: 10px;
    font-weight: 600;

}